<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security-2.0.xsd">

	<security:http auto-config="true">
		<!-- Restrict URLs based on role -->
		<security:intercept-url pattern="/session/new*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/session/login*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/**/*.htm" access="ROLE_USER" />
		<!-- Override default login and logout pages -->
		<security:form-login login-page="/session/new.htm" login-processing-url="/session/login.htm"
			default-target-url="/" authentication-failure-url="/session/new.htm?login_error=1" />
		<security:logout logout-url="/session/logout.htm" logout-success-url="/" />
	</security:http>

	<security:authentication-provider user-service-ref='userDetailsServiceHibernate'/>
</beans>
