/*-------------------------------------------------
						GLOBAL
-------------------------------------------------*/

body {
	margin: 0 auto;
	padding: 0;
	font-family: helvetica, sans-serif, arial, verdana,;
}

.completed {
	text-decoration: line-through;
}

	
	
	
	
	
	
	
	
	
	